.navbar{
    .nav-link{
        font-size: 1.4rem;
        text-transform: uppercase;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .nav-item{
        &.active{
            border-left: 3px solid #444;
        }
    }
}